<div class="tb_popup spaceadd_popup js_popup" style="display:none">
	<span class="tb_popup_align"></span>
	<div class="tb_popup_content">
		<ng-transclude></ng-transclude>
	</div>
	<a href="" class="tb_popupclose js_closepopup"><i class="flaticon-cancel-music"></i></a>
</div>