<div class="flash" ng-if="flash">
	<div ng-class="{ 'bs-alert': flash, 'bs-alert-success': flash.type === 'success', 'bs-alert-danger': flash.type === 'error' }" >
		<span>{{flash.message}}</span>
		<ul ng-if="flash.list">
			<li ng-repeat="error in flash.list">{{error.message + ': ' +error.field}}</li>
		</ul>
	</div>
</div><!-- flash -->