@charset "UTF-8";

/* Initial resets */
html {font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 100%; }
body { margin: 0; padding: 0; margin: 0; font-family: "roboto", sans-serif; font-weight: normal; line-height: 1; color: #0a0a0a; background: #f0f0f0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block; }
audio, canvas, progress, video {display: inline-block; vertical-align: baseline; }
audio:not([controls]) {display: none; height: 0; } [hidden], template {display: none; }
a {background-color: transparent; text-decoration: none; }
a:active, a:hover {outline: 0; }
span{display: inline-block;}
abbr[title] {border-bottom: 1px dotted; }
b, strong {font-weight: bold; }
dfn {font-style: italic; }
mark {background: #ff0; color: #000; }
small {font-size: 80%; }
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup {top: -0.5em; }
sub {bottom: -0.25em; }
img {border: 0; max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; display: inline-block; vertical-align: middle; }
svg:not(:root) {overflow: hidden; }
figure {margin: 1em 40px; }
hr {box-sizing: content-box; height: 0; }
pre {overflow: auto; }
code, kbd, pre, samp {font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea {color: inherit; font: inherit; margin: 0; }
select { background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%2851, 51, 51%29"></polygon></svg>'); background-size: 9px 6px; background-position: right 0.5rem center; background-repeat: no-repeat; } 
button {overflow: visible; -webkit-appearance: none; -moz-appearance: none; background: transparent; padding: 0; border: 0; border-radius: 0; line-height: 1; }
button, select {text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] {cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0; }
input {line-height: normal; }
input:disabled, input[readonly], textarea:disabled, textarea[readonly] {background-color: #e6e6e6; cursor: default; } 
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height: auto; }
input[type="search"] {-webkit-appearance: textfield; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none; }
select, [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {display: block; box-sizing: border-box; width: 100%; font-family: inherit; color: #0a0a0a; border-radius: 0; transition: border-color 0.25s ease-in-out; -webkit-appearance: none; -moz-appearance: none; font-size: 1rem; font-family: inherit; line-height: normal; border: 1px solid #dddddd; }
select:focus, [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {border: 1px solid #8a8a8a; outline: none; transition: border-color 0.25s ease-in-out; } 
fieldset {border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend {border: 0; padding: 0; }
textarea {overflow: auto; max-width: 100%; height: auto; min-height: 50px; border-radius: 0; }
textarea[rows] {height: auto; } 
optgroup {font-weight: bold; }
table {border-collapse: collapse; border-spacing: 0; }
td, th {padding: 0; }
label {display: block; margin: 0; font-size: 0.875rem; font-weight: normal; line-height: 1.8; color: #0a0a0a; } 
[type='submit'], [type='button'] {border-radius: 0; -webkit-appearance: none; -moz-appearance: none; } 
input[type='search'] {box-sizing: border-box; } 
[type='file'], [type='checkbox'], [type='radio'] {margin: 0 0 1rem; } 
[type='checkbox'] + label, [type='radio'] + label {display: inline-block; margin-left: 0.5rem; margin-right: 1rem; margin-bottom: 0; vertical-align: baseline; } 
label > [type='checkbox'],label > [type='label'] { margin-right: 0.5rem; }  
[type='file'] {width: 100%; }
[type='file'], [type='checkbox'], [type='radio'] {margin: 0 0 1rem; }
[type='checkbox'] + label, [type='radio'] + label {display: inline-block; margin-left: 0.5rem; margin-right: 1rem; margin-bottom: 0; vertical-align: baseline; } 


