/* grid */
.ga_wrapper {max-width: 1000px; margin: 0 auto; }
.ga_row {max-width: 100%; margin-left: auto; margin-right: auto; } 
.ga_row::before, .ga_row::after {content: ' '; display: table; } 
.ga_row::after {clear: both; } 
.collapse > .ga_column, .collapse > .ga_columns {padding-left: 0; padding-right: 0; }
.collapse.ga_column {padding-left: 0; padding-right: 0; } 
.ga_row .ga_row.collapse {margin-left: 0; margin-right: 0; } 
.ga_row.expanded { max-width: none; margin-left: -7px; margin-right: -7px; }
.ga_row.expanded .ga_row {margin-left: auto; margin-right: auto; } 
.ga_column, .ga_columns {padding-left: 7px; padding-right: 7px; width: 100%; float: left; } 
.ln-ar .ga_column, .ln-ar .ga_columns { float: right; } 
.ga_column.ga_row.ga_row, .ga_row.ga_row.ga_columns { float: none; } 
.ga_row .ga_column.ga_row.ga_row, .ga_row .ga_row.ga_row.ga_columns {padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0; } 
.ga_small_1 {width: 4.16667%; } 
.ga_small_2 {width: 8.33333%; } 
.ga_small_3 {width: 12.5%; } 
.ga_small_4 {width: 16.66667%; } 
.ga_small_5 {width: 20.83333%; } 
.ga_small_6 {width: 25%; } 
.ga_small_7 {width: 29.16667%; } 
.ga_small_8 {width: 33.33333%; } 
.ga_small_9 {width: 37.5%; } 
.ga_small_10 {width: 41.66667%; } 
.ga_small_11 {width: 45.83333%; } 
.ga_small_12 {width: 50%; } 
.ga_small_13 {width: 54.16667%; } 
.ga_small_14 {width: 58.33333%; } 
.ga_small_15 {width: 62.5%; } 
.ga_small_16 {width: 66.66667%; } 
.ga_small_17 {width: 70.83333%; } 
.ga_small_18 {width: 75%; } 
.ga_small_19 {width: 79.16667%; } 
.ga_small_20 {width: 83.33333%; } 
.ga_small_21 {width: 87.5%; } 
.ga_small_22 {width: 91.66667%; } 
.ga_small_23 {width: 95.83333%; } 
.ga_small_24 {width: 100%; } 
.ga_small_collapse > .ga_column, .ga_small_collapse > .ga_columns {padding-left: 0; padding-right: 0; } 
.ga_small_collapse .ga_row {margin-left: 0; margin-right: 0; } 
.ga_small_uncollapse > .ga_column, .ga_small_uncollapse > .ga_columns {padding-left: 0.625rem; padding-right: 0.625rem; } 
.ga_small_centered {float: none; margin-left: auto; margin-right: auto; } 
@media screen and (min-width: 540px) {
  .ga_medium_1 {width: 4.16667%; } 
  .ga_medium_2 {width: 8.33333%; } 
  .ga_medium_3 {width: 12.5%; } 
  .ga_medium_4 {width: 16.66667%; } 
  .ga_medium_5 {width: 20.83333%; } 
  .ga_medium_6 {width: 25%; } 
  .ga_medium_7 {width: 29.16667%; } 
  .ga_medium_8 {width: 33.33333%; } 
  .ga_medium_9 {width: 37.5%; } 
  .ga_medium_10 {width: 41.66667%; } 
  .ga_medium_11 {width: 45.83333%; } 
  .ga_medium_12 {width: 50%; } 
  .ga_medium_13 {width: 54.16667%; } 
  .ga_medium_14 {width: 58.33333%; } 
  .ga_medium_15 {width: 62.5%; } 
  .ga_medium_16 {width: 66.66667%; } 
  .ga_medium_17 {width: 70.83333%; } 
  .ga_medium_18 {width: 75%; } 
  .ga_medium_19 {width: 79.16667%; } 
  .ga_medium_20 {width: 83.33333%; } 
  .ga_medium_21 {width: 87.5%; } 
  .ga_medium_22 {width: 91.66667%; } 
  .ga_medium_23 {width: 95.83333%; } 
  .ga_medium_24 {width: 100%; } 
  .ga_medium_collapse > .ga_column, .ga_medium_collapse > .ga_columns {padding-left: 0; padding-right: 0; } 
  .ga_medium_collapse .ga_row {margin-left: 0; margin-right: 0; } 
  .ga_medium_uncollapse > .ga_column, .ga_medium_uncollapse > .ga_columns {padding-left: 0.9375rem; padding-right: 0.9375rem; } 
  .ga_medium_centered {float: none; margin-left: auto; margin-right: auto; } 
} 
@media screen and (min-width: 760px) {
  .ga_large_1 {width: 4.16667%; } 
  .ga_large_2 {width: 8.33333%; } 
  .ga_large_3 {width: 12.5%; } 
  .ga_large_4 {width: 16.66667%; } 
  .ga_large_5 {width: 20.83333%; } 
  .ga_large_6 {width: 25%; } 
  .ga_large_7 {width: 29.16667%; } 
  .ga_large_8 {width: 33.33333%; } 
  .ga_large_9 {width: 37.5%; } 
  .ga_large_10 {width: 41.66667%; } 
  .ga_large_11 {width: 45.83333%; } 
  .ga_large_12 {width: 50%; } 
  .ga_large_13 {width: 54.16667%; } 
  .ga_large_14 {width: 58.33333%; } 
  .ga_large_15 {width: 62.5%; } 
  .ga_large_16 {width: 66.66667%; } 
  .ga_large_17 {width: 70.83333%; } 
  .ga_large_18 {width: 75%; } 
  .ga_large_19 {width: 79.16667%; } 
  .ga_large_20 {width: 83.33333%; } 
  .ga_large_21 {width: 87.5%; } 
  .ga_large_22 {width: 91.66667%; } 
  .ga_large_23 {width: 95.83333%; } 
  .ga_large_24 {width: 100%; } 
  .ga_large_collapse > .ga_column, .ga_large_collapse > .ga_columns {padding-left: 0; padding-right: 0; } 
  .ga_large_collapse .ga_row {margin-left: 0; margin-right: 0; } 
  .ga_large_uncollapse > .ga_column, .ga_large_uncollapse > .ga_columns {padding-left: 0.9375rem; padding-right: 0.9375rem; } 
  .ga_large_centered {float: none; margin-left: auto; margin-right: auto; } 
}
@media screen and (min-width: 980px) {
  .ga_xlarge_1 {width: 4.16667%; } 
  .ga_xlarge_2 {width: 8.33333%; } 
  .ga_xlarge_3 {width: 12.5%; } 
  .ga_xlarge_4 {width: 16.66667%; } 
  .ga_xlarge_5 {width: 20.83333%; } 
  .ga_xlarge_6 {width: 25%; } 
  .ga_xlarge_7 {width: 29.16667%; } 
  .ga_xlarge_8 {width: 33.33333%; } 
  .ga_xlarge_9 {width: 37.5%; } 
  .ga_xlarge_10 {width: 41.66667%; } 
  .ga_xlarge_11 {width: 45.83333%; } 
  .ga_xlarge_12 {width: 50%; } 
  .ga_xlarge_13 {width: 54.16667%; } 
  .ga_xlarge_14 {width: 58.33333%; } 
  .ga_xlarge_15 {width: 62.5%; } 
  .ga_xlarge_16 {width: 66.66667%; } 
  .ga_xlarge_17 {width: 70.83333%; } 
  .ga_xlarge_18 {width: 75%; } 
  .ga_xlarge_19 {width: 79.16667%; } 
  .ga_xlarge_20 {width: 83.33333%; } 
  .ga_xlarge_21 {width: 87.5%; } 
  .ga_xlarge_22 {width: 91.66667%; } 
  .ga_xlarge_23 {width: 95.83333%; } 
  .ga_xlarge_24 {width: 100%; } 
  .ga_xlarge_collapse > .ga_column, .ga_xlarge_collapse > .ga_columns {padding-left: 0; padding-right: 0; } 
  .ga_xlarge_collapse .ga_row {margin-left: 0; margin-right: 0; } 
  .ga_xlarge_uncollapse > .ga_column, .ga_xlarge_uncollapse > .ga_columns {padding-left: 0.9375rem; padding-right: 0.9375rem; } 
  .ga_xlarge_centered {float: none; margin-left: auto; margin-right: auto; } 
}