html, body {
  height: 100%;
}
body {
	background-image: url('../images/body-bg.jpg');
	background-size: cover;
}
.content {
  min-height: 100%;
  margin-bottom: -35px; 
}
.content:after {
  content: "";
  display: block;
}

/* adddish */
.adddish {
    position: absolute;
    bottom: 40px;
    right: 0;
    background-color: rgba(239, 217, 27, 0.97);
    padding: 20px 50px;
    border-radius: 6px;
    color: #2c3e50;
    font-weight: bold;
    box-shadow: 0px 0px 0px 5px rgba(243, 235, 191, 0.92);
}


/* flash */
.flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.flash .bs-alert-danger {
    color: #ffffff;
    background-color: rgba(192, 57, 43, 0.91);
    border: 0;
}
.flash .bs-alert-success {
    color: #ffffff;
    background-color: rgba(62, 183, 13, 0.87);
    border: 0;
}
/* passwordform */
.passwordform {
    background-color: #fff;
}

/* login */
.login {
    background-color: rgba(248, 231, 66, 0.92);
}
.login .ga_label {
    height: 35px;
    line-height: 35px;
    font-size: 19px;
}
.login .ga_input {
    height: 35px;
    line-height: 35px;
}
.login .ga_button {
    line-height: 35px;
    height: 35px;
}


/* pageindex */
.pageindex {
    height: 590px;
    position: absolute;
    bottom: 15%;
    width: 1000px;
}
.pageindex .babaimage {
    position: absolute;
    right: 0;
    bottom: 120px;
}
.pageindex .logoart {
    position: absolute;
    top: 0;
    left: 0;
}
.pageindex .login {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 60%;
}


/* pagesubmit */
.pagesubmit {
    position: relative;
}
.pagesubmit .logoart {
    max-width: 250px;
}
.pagesubmit .babaimage {
    max-width: 280px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.pagesubmit_column {
    background-color: rgba(247, 247, 247, 0.9);
}
.submit_heading {
    font-size: 30px;
    font-style: italic;
}
.submit_icon {
	display: block;
	margin: 0 auto;
}
.submit_form .ga_input,
.submit_form .ga_select {
    height: 35px;
}
.submit_form .ga_input,
.submit_form .ga_select,
.submit_form .ga_textarea{
	background-color: #ffe44e;
	color: #333;
}

/* pagelisting */
.pagelisting {
	position: relative;   	
}
.pagelisting_column {
	background-color: rgba(247, 247, 247, 0.9);
}
.pagelisting .logoart {
    max-width: 250px;
}
.pagelisting .babaimage {
    max-width: 280px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.listing_heading {
    font-size: 30px;
    font-style: italic;
}


/* searchbox */
.searchbox {
    position: relative;
}
.searchbox .ga_label {
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    margin: 0 10px;
}
.searchbox .ga_input {
    width: 190px;
    height: 35px;
    border: 0;
	background-color: #ffe44e;
	color: #333;
}
.searchbox .ga_button {
    position: absolute;
    top: 0;
    height: 35px;
    line-height: 35px;
    width: 50px;
    right: 0;
}

/* dishes */
.dishes_list {
    margin: 0;
    padding: 0;
    margin: 0 -15px 0 0;
    list-style: none;
}
.dishes_item {
    width: 50%;
    padding: 15px 15px 15px 70px;
}
.dishes_box {
    position: relative;
}
.dishes_image {
    height: 140px;
    position: relative;
    overflow: hidden;
    border: 4px solid #ffffff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.dishes_title {
    bottom: 0;
    width: 100%;
    /* height: 70px; */
    overflow: hidden;
    position: absolute;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.85);
}
.dishes_title p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.dishes_like {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: -70px;
    width: 70px;
}
.dishes_liketext {
    display: block;
    font-size: 16px;
    text-align: center;
}
.dishes_likeicon {
    text-align: center;
    display: block;
    width: 100%;
    height: 20px;
    background-color: #df2529;
}
.dishes_likeicon i {
    background-image: url('../images/big-heart.png');
    background-repeat: no-repeat;
    background-size: 16px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center;
}


.footer, .content:after {
  height: 35px; 
}
.footer {
  background: #ffffff;
}
.footer_link {
    display: inline-block;
    padding: 11px 0;
}