body {
	background-image: url('../images/body-bg.jpg');
	background-size: cover;
}

a{
    text-decoration: none;
}

*, 
*:before, 
*:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
} 
.clearfix::before, 
.clearfix::after {
	content: ' '; 
	display: table; 
} 
.clearfix::after { clear: both; } 

.fl_left{ float: left; }
.fl_right{ float: right; }

.wrapper { 
	max-width: 1000px; 
	margin: 0 auto; 
}


/* logoart */
.logoart {}
.logoart_image {}


/* login_form */
.login_form {}











.footer {
  background: #ffffff;
}
.footer_link {
    display: inline-block;
    padding: 11px 0;
}