<div class="paginate ga_al_center">
	<a ng-click="gotoPage({pagen: currentPage-1})" href="javascript:void(0)" ng-if="(currentPage > 1)" class="paginate_prev">Prev</a>
	<a ng-click="gotoPage({pagen: page})"
		ng-repeat="page in pages track by tracker(page, $index)" 
		ng-class="{
			active: currentPage == page, 
			paginate_item: page != '...', 
			paginate_skip: page == '...' }" 
		href="javascript:void(0);"
		class="">
	{{page}}
	</a>
	<a ng-click="gotoPage({pagen: currentPage+1})" href="javascript:void(0)" ng-if="(currentPage < totalPages)" class="paginate_next">Next</a>
</div>

<!-- <div class="paginate ga_al_center">
	<a href="" class="paginate_prev"></a>
	<a href="" class="paginate_item">1</a>
	<a href="" class="paginate_item">2</a>
	<a href="" class="paginate_item">3</a>
	<span class="paginate_item">...</span>
	<a href="" class="paginate_item">60</a>							
	<a href="" class="paginate_next"></a>
</div> -->