<div class="footer">
	<div class="ga_wrapper">
		<div class="ga_row">
			<div class="ga_xlarge_12 ga_columns ga_al_left">
				<a href="" class="ga_pt10 ga_pb10 ga_inblock">Privacy Policy</a>
			</div>
			<div class="ga_xlarge_12 ga_columns ga_al_right">
				<a href="" class="ga_pt10 ga_pb10 ga_inblock">Terms & Conditions</a>
			</div>
		</div>
	</div>
</div>