<div class="content">
	<div class="ga_wrapper">
		<div class="ga_row collapse pageindex">
			<div class="logoart">
				<img src="site/assets/images/logoart.png" class="logoart_image" alt="">
			</div>
			<div class="login ga_p20">
				<form class="login_form ga_m0" ng-submit="submit()" name="form.login">
					<div class="ga_row">
						<div class="ga_xlarge_19 ga_columns">
							<div class="ga_xlarge_6 ga_columns">
								<label for="" class="ga_label inline ga_al_vertical">Username</label>
							</div>
							<div class="ga_xlarge_18 ga_columns">
								<input type="text" ng-model="username" class="ga_input ga_al_vertical">
							</div>
							<div class="ga_xlarge_6 ga_columns">
								<label for="" class="ga_label inline ga_al_vertical">Password</label>
							</div>	
							<div class="ga_xlarge_18 ga_columns">
								<input type="password" ng-model="password" class="ga_input ga_al_vertical ga_m0">
							</div>	
						</div>
						<div class="ga_xlarge_5 ga_columns">
							<input type="submit" class="ga_button ga_btnred ga_mt25 ga_mb25" value="ENTER">
						</div>
					</div>
				</form>
			</div>

			<img src="site/assets/images/baba.png" class="babaimage" alt="">
			<a href="submit" class="adddish">ADD DISH</a>
		</div>
	</div>
</div>
<ng-include src="'site/views/footer.html'"></ng-include>