<div class="content">
	<div class="ga_wrapper">
		<div class="ga_row collapse pagesubmit">
			<div class="ga_xlarge_9 ga_columns">
				<img src="site/assets/images/logoart.png" class="logoart" alt="">

				<img src="site/assets/images/baba.png" class="babaimage" alt="">
			</div>
			<div class="ga_xlarge_15 ga_columns">
				<div class="pagesubmit_column ga_p25">
					<form class="submit_form" ng-submit="submit()">
						<h4 class="submit_heading ga_al_center ga_m0 ga_mb25 ga_bold">So you think youcan cook?</h4>
						<img src="site/assets/images/spoon.png" class="submit_icon" alt="">
						<p class="submit_text ga_bold ga_al_center ga_m0 ga_mb10 ga_font_20">Share your Signatire dishand make it to the</p>
						<p class="submit_text ga_bold ga_al_center ga_m0 ga_font_25">2013 GLAD COOKING CHALLANGE!</p>

						<div class="ga_row ga_column">
							<label for="">Upload photo of your dish</label>
							<input type="file" name="dishimage" ng-model="dishmodel.record.dishimage" file-type>
						</div>
						<div class="ga_row ga_column">
							<label for="">Name of your dish</label>
							<input type="text" ng-class="{error: dishmodel.errors.has.dish_name}" name="dishname" ng-model="dishmodel.record.dishname" class="ga_input">
							<span ng-show="dishmodel.errors.has.dish_name" ng-cloak class="ga_formerror">{{dishmodel.errors.message.dish_name}}</span>
						</div>
						<div class="ga_row ga_column">
							<label for="">Why is dish special to you</label>
							<textarea name="dishspecial" ng-class="{error: dishmodel.errors.has.dish_description}" ng-model="dishmodel.record.dishspecial" class="ga_textarea" id="" cols="30" rows="4"></textarea>
							<span ng-show="dishmodel.errors.has.dish_description" ng-cloak class="ga_formerror">{{dishmodel.errors.message.dish_description}}</span>
						</div>
						<div class="ga_row ga_column">
							<label for="">Name</label>
							<input type="text" ng-class="{error: dishmodel.errors.has.name}" name="cookname" ng-model="dishmodel.record.cookname" class="ga_input">
							<span ng-show="dishmodel.errors.has.name" ng-cloak class="ga_formerror">{{dishmodel.errors.message.name}}</span>
						</div>
						<div class="ga_row ga_column">
							<label for="">Email</label>
							<input type="text" ng-class="{error: dishmodel.errors.has.email}" name="cookemail" ng-model="dishmodel.record.cookemail" class="ga_input">
							<span ng-show="dishmodel.errors.has.email" ng-cloak class="ga_formerror">{{dishmodel.errors.message.email}}</span>
						</div>
						<div class="ga_row ga_column">
							<label for="">Phone Number</label>
							<input type="text" ng-class="{error: dishmodel.errors.has.phone_number}" name="cookphone" ng-model="dishmodel.record.cookphone" class="ga_input">
							<span ng-show="dishmodel.errors.has.phone_number" ng-cloak class="ga_formerror">{{dishmodel.errors.message.phone_number}}</span>
						</div>
						<div class="ga_row ga_column">
							<label for="">Country</label>
							<select name="cookcountry" ng-init="dishmodel.record.cookcountry='229'" ng-class="{error: dishmodel.errors.has.country_id}" class="ga_select" id="" ng-model="dishmodel.record.cookcountry">
								<option value="">Select</option>
								<option ng-repeat="option  in options" value="{{option.id}}" >{{option.name}}</option>
							</select>
							<span ng-show="dishmodel.errors.has.country_id" ng-cloak class="ga_formerror">{{dishmodel.errors.message.country_id}}</span>
						</div>
						<div class="ga_row">
							<div class="ga_xlarge_6 ga_columns">
								<label for="">Age</label>
								<input type="text" ng-class="{error: dishmodel.errors.has.age}" name="cookage" class="ga_input" ng-model="dishmodel.record.cookage">
								<span ng-show="dishmodel.errors.has.age" ng-cloak class="ga_formerror">{{dishmodel.errors.message.age}}</span>
							</div>
							<div class="ga_xlarge_18 ga_columns ga_pt35">
								<label for="gender_male" class="ga_al_vertical ga_ml10 ga_mr10">
									<input type="radio" name="gender" id="gender_male" value="male" ng-model="dishmodel.record.cookgender"><span class="ga_ml7 ga_mr7">Male</span>
								</label>
								<label for="gender_female" class="ga_al_vertical ga_ml10 ga_mr10">
									<input type="radio" name="gender" id="gender_female" value="female" ng-model="dishmodel.record.cookgender"><span class="ga_ml7 ga_mr7">Female</span>
								</label>
							</div>
							<span ng-show="dishmodel.errors.has.cookgender" ng-cloak class="ga_formerror">{{dishmodel.errors.message.cookgender}}</span>
						</div>
						<div class="ga_row ga_column">
							<label for="agree">
								<input type="checkbox" id="agree" ng-model="dishmodel.record.cookagree" class="ga_al_vertical ga_m0"><span class="ga_al_vertical ga_ml10 ga_mr10">I agree to <a href="">Terms & conditions</a></span>
							</label>
						</div>
						<div class="ga_row">
							<div class="ga_xlarge_6 ga_columns ga_fl_right">
								<input type="submit" class="ga_button ga_btnred ga_m0">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<popup-directive toggle="newUser" template-url="site/directives/popup/views/popup.html">
	<div class="passwordform ga_small_12 ga_small_centered ga_br3 ga_p20 ga_al_left">
		<h4 class="ga_m0">New User Password</h4>
		<span class="ga_hr ga_mt7 ga_mb25"></span>
		<form novalidate ng-submit="submitPassword()" name="form.password">
			<div class="ga_row ga_column collapse">
				<label for="">Password</label>
				<input 
					type="password" 
					name="password"
					class="ga_input" 
					ng-class="{error: usermodel.errors.has.password}" 
					ng-model="usermodel.record.password" 
					required>
				<span ng-show="usermodel.errors.has.password" ng-cloak class="ga_formerror">{{usermodel.errors.message.password}}</span>
			</div>
			<div class="ga_row ga_column collapse">
				<label for="">Confirm Password</label>
				<input 
					type="password" 
					class="ga_input" 
					name="cpassword" 
					ng-class="{error: usermodel.errors.has.cpassword}" 
					ng-model="usermodel.record.cpassword" 
					confirm-password="usermodel.record.password"
					required>
				<span ng-show="usermodel.errors.has.cpassword" ng-cloak class="ga_formerror">{{usermodel.errors.message.cpassword}}</span>
			</div>
			<div class="ga_row collapse">
				<div class="ga_small_6 ga_columns ga_small_centered">
					<input type="submit" class="ga_button ga_btnred ga_m0">
				</div>
			</div>
		</form>
	</div>
</popup-directive>
<ng-include src="'site/views/footer.html'"></ng-include>