<div class="content">
	<div class="ga_wrapper">
		<div class="ga_row collapse pagelisting">
			<div class="ga_xlarge_9 ga_columns">
				<img src="site/assets/images/logoart.png" class="logoart" alt="">

				<img src="site/assets/images/baba.png" class="babaimage" alt="">
			</div>
			<div class="ga_xlarge_15 ga_columns">
				<div class="pagelisting_column ga_p25">
					<h4 class="listing_heading ga_al_center ga_m0 ga_mb30 ga_bold">So you think youcan cook?</h4>
					<p class="submit_text ga_bold ga_al_center ga_m0 ga_mb10 ga_font_25">COMPETITION GALLERY</p>
					<p class="submit_text ga_bold ga_al_center ga_m0 ga_font_20">VOTE FOR YOUR FAVOURITE DISH OR SUBMIT YOUR OWN</p>
					<span class="ga_block ga_mb30"></span>
					<div class="ga_row collapse searchbox">
						<div class="ga_xlarge_14 ga_columns ga_fl_right">
							<form class="searchbox" ng-submit="search()">
								<label for="" class="ga_label inline ga_bold ga_al_vertical">SEARCH</label>
								<input type="text" class="ga_input ga_al_vertical ga_m0" ng-model="query">
								<input type="submit" class="ga_button ga_btnred ga_m0" value="GO">
							</form>
						</div>
					</div>
					<div class="ga_row collapse ga_mb25">
						<ul class="dishes_list ga_clear">
							<li ng-repeat="dish in dishes" class="dishes_item ga_fl_left" ng-click="likeDish(dish.id)">
								<div class="dishes_box">
									<div class="dishes_image ga_imagethmb ga_br5">
										<span class="ga_imagethmb_inner"></span>
										<img ng-src="/glad/{{dish.global_url}}" class="ga_br4" alt="">
										<div class="dishes_title">
											<p class="ga_m0">{{dish.name}}</p>
										</div>
									</div>
									<div class="dishes_like">
										<span class="dishes_liketext ga_bold ga_mb7">{{dish.likes}} likes</span>
										<span class="dishes_likeicon"><i></i></span>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="ga_row collapse">
						<pagination 
							goto-page="toPage(pagen)" 
							current-page="paginate.page" 
							total-pages="paginate.max_pages" 
							template-url="site/directives/pager/views/pager.html"></pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-include src="'site/views/footer.html'"></ng-include>